{% extends "base/base.html" %}
{% load staticfiles %}

<!--title-->
{% block title %}公司{% endblock %}

<!--position-->
{% block position %}
    <ul>
        <li><a href="/">首页</a></li>
        <li>
            <div class="position-split"></div>
        </li>
        <li><label>公司</label></li>
    </ul>
{% endblock %}

<!--content-->
{% block content %}
    <div class="container clearfix">
        <div class="hole-block">
            <div class="white-box">
                <div class="company-page-nav">
                    {% include 'company/navigation.html' %}
                </div>
                <div class="company-page-content">

                    <div class="main-content-box">
                        <div><h4><label>公司&nbsp;|&nbsp;Company</label></h4></div>
                        <div class="spacer-20px"></div>
                        <div class="highlight-header"><label class="white-color-text">公司简介</label></div>
                        <div class="spacer-15px"></div>
                        <div>
                            <div><label>北京泰科泰格科技有限公司（以下简称泰科泰格公司）成立于2008年6月，注册资金1000万元，注册地址北京市门头沟区矿建街183号-101室，法定代表人唐素芬。北京泰科泰格科技有限公司是一家专业从事IT产品、IT增值产品销售、技术服务、软件开发的系统集成专业供应商。作为卡巴斯基、Cisco、LANDesk、Websense、Citrix、Juniper
                                、Check Point、HP、DELL、联想、IBM、Canon、FUJI
                                XEROX、EPSON、清华紫光等国际、国内知名厂商的认证合作伙伴，我们秉承“以客户为中心”的经营理念，凭借专业的销售和技术服务队伍、多元化的IT全生命周期解决方案、
                                致力于协助客户以更低的总体拥有成本（TCO），获取更高的工作效率、更安全的网络环境和更强的核心竞争力，使用户的需要成为现实。经过不懈努力，我们成功进入大中型企业、政府项目、金融、电力、教育、交通等行业，为各行业用户的办公自动化、信息化建设提供强有力的支持。</label>
                            </div>
                            <div class="spacer-15px"></div>
                            <div><label>面对激烈的市场竞争，北京泰科泰格科技有限公司努力开拓业务领域，不断提升销售业绩，在众多同业中脱颖而出，成为卡巴斯基网络安全服务商和卡巴斯基安全合作伙伴,得到了厂商和业内同行的一致认可。同时，北京泰科泰格科技有限公司连续四年成为“惠普商用产品金牌经销商”,并多次作为上海惠普有限公司的独家支持代理商，在众多金融行业客户的招投标项目中取得优秀的销售成绩。</label>
                            </div>
                            <div class="spacer-15px"></div>
                            <div><label>优秀的产品和精英的团队使北京泰科泰格科技有限公司能够迅速完成“产品”到“服务”的转变。
                                以专业的素质和丰富的实践经验为依托，我们为客户提供全面的系统工程实施、咨询、培训。让世界先进水平的IT产品、IT增值产品能够真正在企业中做到“购以致用”。</label>
                            </div>
                            <div class="spacer-15px"></div>
                            <div><label>北京泰科泰格科技有限公司注册资金一千万元，目前拥有员工六十余人，设有大客户业务部、集成业务部、技术部、售后部、财务部等职能部门。业务团队拥有众多信息网络领域专业人员，以先进、宽广、扎实的技术力量支撑着不断发展的业务需要。</label>
                            </div>
                            <div class="spacer-15px"></div>
                            <div><label>北京泰科泰格科技有限公司的办公场所地处北京市繁华的东二环西侧的地标性建筑领行国际中心物业内，同时坐拥京城中心金融商圈和CBD金融商圈的地利优势，掌握大量行业优势资源。办公地点紧临二环路、邻近地铁5号线、2号线、10号线、北京火车站，还可便捷延伸至首都国际机场、北京南站、北京西站，快捷便利的交通优势为公司高效的现场技术服务、供货服务提供保障，同时也为业务开拓立足北京，拓展全国市场的发展策略奠定了扎实基础。</label>
                            </div>
                            <div class="spacer-15px"></div>
                            <div><label>自成立以来，北京泰科泰格科技有限公司荣幸的与交通银行股份有限公司、中国银行总行、中国银行北京市分行、中国农业发展银行、中国农业银行衡水分行、北京农商银行、浙商银行、杭州银行北京市分行、中信银行股份有限公司、民生人寿股份有限公司、长安保险股份有限公司、中意人寿保险有限公司等金融企业建立了友好合作的业务关系，北京泰科泰格科技有限公司服务团队协同卡巴斯基（中国）有限公司技术服务团队，对交通银行河北省分行、中信银行，长安保险、民生人寿、邮政储蓄银行等金融企业的网络安全提出了有针对性的方案，加强了网络安全的防护体系，取得了良好的客户反馈。我们承诺将一如继往，为各行各业的新老客户提供专业、热诚的服务。</label>
                            </div>
                            <div class="spacer-15px"></div>
                            <div><label>“爱岗如家、日益进取”是北京泰科泰格科技有限公司团队建设的核心思想，我们努力做到，公司通过提供更好的产品和服务回报社会，员工通过劳动为公司创造价值的同时，也从公司的发展中受益，实现企业与个人发展的双赢。</label>
                            </div>
                            <div class="spacer-15px"></div>
                            <div><label>我们本着&quot;客户至上，服务为本，知新创新&quot;的服务宗旨，通过整合市场资源，激发开拓潜能，形成泰科泰格的销售与技术优势，与一流的合作伙伴通力协作，在市场竞争中共同提高。北京泰科泰格科技有限公司将努力建设以代理销售优秀的IT产品、开发自有品牌的软件产品、提供泰科泰格特色的技术服务三项核心业务相辅相承，齐头并进的业务结构，更好地为合作伙伴和各行业用户服务。</label>
                            </div>
                        </div>
                        <div class="spacer-20px"></div>
                        <div class="highlight-header"><label class="white-color-text">联系方式</label></div>
                        <div class="spacer-15px"></div>
                        <div>
                            <div><label>北京泰科泰格科技有限公司</label></div>
                            <div><label>Beijing Tac-au-tac Technology Co.,Ltd</label></div>
                            <div><label>地址&nbsp;Address&nbsp;:&nbsp;北京市崇文区广渠门南小街领行国际3号楼2单元11层</label></div>
                            <div><label>邮编&nbsp;Zip&nbsp;:&nbsp;100061</label></div>
                            <div><label>电话&nbsp;Tel&nbsp;:&nbsp;(010)&nbsp;6711&nbsp;9616</label></div>
                            <div><label>网站&nbsp;Site&nbsp;:&nbsp;<a href="http://www.titac.com.cn" target="_blank">titac.com.cn</a>&nbsp;|&nbsp;<a
                                    href="http://www.titac.cn" target="_blank">titac.cn</a></label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
