{% extends "base/base.html" %}
{% load staticfiles %}

<!--title-->
{% block title %}公司{% endblock %}

<!--position-->
{% block position %}
    <ul>
        <li><a href="/">首页</a></li>
        <li><div class="position-split"></div></li>
        <li><label>公司</label></li>
    </ul>
{% endblock %}

<!--content-->
{% block content %}
<div class="container clearfix">
    <div class="hole-block">
        <div class="white-box">
            <div style="width: 120px;float: left;padding: 5px;">
                {% include 'company/navigation.html' %}
            </div>
            <div style="margin-left: 130px;border-left: 1px solid #f6f6f6;padding: 5px;min-height: 500px;">

            </div>
        </div>
    </div>
</div>
{% endblock %}
