{% extends "base/base.html" %}
{% load staticfiles %}

<!--title-->
{% block title %}公司{% endblock %}

<!--position-->
{% block position %}
    <ul>
        <li><a href="/">首页</a></li>
        <li><div class="position-split"></div></li>
        <li><label>公司</label></li>
    </ul>
{% endblock %}

<!--content-->
{% block content %}
<div class="container clearfix">
    <div class="left-small-block">
        <div class="white-box">
            <div class="main-content-box">
                {% include 'company/navigation.html' %}
            </div>
        </div>
    </div>
    <div class="right-large-block">
        <div class="white-box space">
            <div class="main-content-box">
                <h4><label>关于公司&nbsp;|&nbsp;About Company</label></h4>
            </div>
        </div>

    </div>
</div>
{% endblock %}
