{% load staticfiles %}
<div>
    <div class="spacer-30px"></div>
    <div><a href="{% url 'portal.views.company' %}">关于公司</a></div>
    <div class="spacer-5px"></div>
    <div><a href="{% url 'portal.views.career' %}">工作机会</a></div>
    <div class="spacer-5px"></div>
    <div><a href="">新闻中心</a></div>
    <div class="spacer-5px"></div>
    <div><a href="{% url 'portal.views.privacy' %}">隐私声明</a></div>
    <div class="spacer-5px"></div>
    <div><a href="{% url 'portal.views.term' %}">使用条款</a></div>
</div>