{% load staticfiles %}
<div>
    <label style="font-size: 11px;">关于我们</label>
    <h4><label>公司&nbsp;|&nbsp;Company</label></h4>
</div>
<div class="line"></div>
<div>
    <p></p>
    <p><a href="{% url 'portal.views.company' %}">关于公司</a></p>
    <p><a href="{% url 'portal.views.partner' %}">合作伙伴</a></p>
    <p><a href="{% url 'portal.views.career' %}">工作机会</a></p>
    <p><a href="">新闻中心</a></p>
    <p><a href="{% url 'portal.views.privacy' %}">隐私声明</a></p>
    <p><a href="{% url 'portal.views.term' %}">使用条款</a></p>
</div>