{% extends 'base/base.html' %}
{% load staticfiles %}

<!--title-->
{% block title %}隐私声明{% endblock %}

<!--position-->
{% block position %}
    <ul>
        <li><a href="/">首页</a></li>
        <li><div class="position-split"></div></li>
        <li><a href="{% url 'portal.views.company' %}">公司</a></li>
        <li><div class="position-split"></div></li>
        <li><label>隐私声明</label></li>
    </ul>
{% endblock %}

<!--content-->
{% block content %}
    <div class="container clearfix">
        <div class="hole-block">
            <div class="white-box">
                <div class="company-page-nav">
                    {% include 'company/navigation.html' %}
                </div>
                <div class="company-page-content">

                    <div class="main-content-box">
                        <div><h4><label>隐私声明&nbsp;|&nbsp;Privacy</label></h4></div>
                        <div class="spacer-20px"></div>
                        <div>
                            <div><label>声明：北京泰科泰格科技有限公司（以下简称"本公司"）在此郑重承诺，尊重和保护您的个人隐私，本隐私条约解释了本公司的信息、数据收集和使用行为，您一旦访问本网站，则表明您已同意本隐私条约的内容。</label></div>
                            <div class="spacer-15px"></div>
                            <div><h5><label>1.个人信息</label></h5></div>
                            <div><label>"个人信息"是指您的任何标识性信息，包括：姓名、性别、出生日期、身份证件号码、地址、电话号码、电子邮件地址、职业、教育程度、工作经验等。通常情况下，您无须提供您的个人信息即可访问本网站。但为了提高服务质量，本公司可能需要您提供一些个人信息，以使本公司更好地了解您的需求来为您服务，同时，本公司有权采取措施验证您提供的个人信息的真实性。如果您提供了有关他人的个人信息，则表明您已取得了他人的正式许可。本公司承诺，除非出于您自己的意愿，本公司不会将您的个人信息提供给本公司及其关联企业之外的任何第三方。</label></div>
                            <div class="spacer-15px"></div>
                            <div><h5><label>2.个人信息的收集</label></h5></div>
                            <div><label>当需要您提供个人信息时，本公司会征求您的同意，以便根据您的请求向您提供服务或执行事务，包括：接收有关本公司的产品和服务的信息、访问受一定限制的高级站点、注册参加活动或培训、购买或注册本公司的产品、客户满意度调查、市场调研和推广、员工招聘、法律强制性规定等。</label></div>
                            <div class="spacer-15px"></div>
                            <div><h5><label>3.个人信息的使用</label></h5></div>
                            <div><label>您提供的个人信息将仅在本公司内部或与在其关联企业间使用和共享，使用您的个人信息只是为了更好地了解您的需要并为您提供更好的服务或执行事务，同时本公司可能会使用您的个人信息与您联系以便向您提供服务。</label></div>
                            <div class="spacer-15px"></div>
                            <div><h5><label>4.个人信息的安全</label></h5></div>
                            <p><label>本公司承诺，保护您个人信息的安全性，同时，采取适当的安全措施保护您的个人信息免于未经授权的访问、使用或泄露。</label></p>
                            <div class="spacer-15px"></div>
                            <div><h5><label>5.未成年人保护</label></h5></div>
                            <p><label>本网站不会有意收集未成年人的个人信息，若您提供未成年人的个人信息，请您预先经过其监护人同意后再进行，"未成年人"的定义应根据本条约适用的法律确定。</label></p>
                            <div class="spacer-15px"></div>
                            <div><h5><label>6.关于Cookie</label></h5></div>
                            <div><label>当您访问本网站时，本公司可能会以"Cookie"的形式将某些信息存入您的计算机，"Cookie"是网页服务器放置在您的计算机上的一个小的文本文件，"Cookie"不能用于运行程序，也不会将病毒传播到您的计算机上。使用"Cookie"的目的是为您提供一项节省时间的简便功能，但并不表示本公司可自动获悉有关您的任何个人信息。本网站可能还会使用Web beacon技术或其他技术以便能更好地调整本网站，从而提供优质服务。您可以选择接受或拒绝"Cookie"。</label></div>
                            <div class="spacer-15px"></div>
                            <div><h5><label>7.其他站点的链接</label></h5></div>
                            <p><label>本网站可能包含与其他站点的链接，本公司不对其他站点的隐私条约或内容负责。</label></p>
                            <div class="spacer-15px"></div>
                            <div><h5><label>8.法律性公开</label></h5></div>
                            <p><label>您已理解，根据法律强制性规定，本网站可能需要公开您的个人信息而无须获得您的预先同意并对此不负任何责任。</label></p>
                            <div class="spacer-15px"></div>
                            <div><h5><label>9.本隐私条约的修改</label></h5></div>
                            <p><label>本隐私条约的修改权和解释权属于本公司。本公司会随时更新本条约并予以公布，更新的内容自公布之日起生效，请您定期访问，以便及时了解。</label></p>
                            <div class="spacer-15px"></div>
                            <div><h5><label>10.争议裁决</label></h5></div>
                            <p><label>本隐私条约或有关使用本网站的任何行为受中华人民共和国法律管辖，因此发生争议的，由双方协商解决。如协商不成时，您同意由本公司法定地址所在地的人民法院作出裁决。</label></p>
                            <div class="spacer-15px"></div>
                            <div><h5><label>11.联系方式</label></h5></div>
                            <p><label>如果您有任何疑问和建议，可以通过本网站上的联系方式与本公司联系，本公司将尽最大的努力去解决。</label></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}