{% extends 'base/base.html' %}
{% load staticfiles %}
<!--title-->
{% block title %}{{ service_item.title }}{% endblock %}

<!--position-->
{% block position %}
    <ul>
        <li><a href="{% url 'portal.views.home' %}">首页</a></li>
        <li><div class="position-split"></div></li>
        <li><a href="{% url 'portal.views.service' %}">服务</a></li>
        <li><div class="position-split"></div></li>
        <li><label>{{ service_item.title }}</label></li>
    </ul>
{% endblock %}

<!--content-->
{% block content %}
    <div class="container clearfix">
        <div class="left-large-block">
            <div class="white-box space">
                <div class="main-content-box">
                    <h4><label>{{ service_item.title }}</label></h4>
                </div>
                <div class="spacer-10px"></div>
                <div class="main-content-box">
                    {% autoescape off %}{{ service_item.sketch }}{% endautoescape %}
                </div>
                <div class="line"></div>
                <div class="spacer-10px"></div>
                <div class="main-content-box">
                    {% autoescape off %}{{ service_item.content }}{% endautoescape %}
                </div>
            </div>
        </div>
        <div class="right-small-block">
            <div class="float">
                <div class="white-box">
                    {% include 'common/contact.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}