{% extends 'base/base.html' %}
{% load staticfiles %}

<!--title-->
{% block title %}服务{% endblock %}

<!--position-->
{% block position %}
    <ul>
        <li><a href="/">首页</a></li>
        <li>
            <div class="position-split"></div>
        </li>
        <li><label>服务</label></li>
    </ul>
{% endblock %}

<!--content-->
{% block content %}
    <div class="container clearfix">
        <div class="left-large-block">
            <div class="white-box space">
                <div class="main-content-box">
                    <h4><label>服务&nbsp;|&nbsp;Service</label></h4>
                    <div class="spacer-10px"></div>
                    <div><label>IT系统规模不断扩大，设施越来越复杂，要求的运行效率和服务质量越来越高。</label></div>
                </div>
                <div class="spacer-5px"></div>
                <div class="line"></div>
                <div class="spacer-10px"></div>
                {% for service_item in services %}
                    <a href="/service/{{service_item.service_id}}">
                        <div class="item-block-service">
                            <label><strong>{{ service_item.service_title }}</strong></label><br>
                            <label>{% autoescape off %}{{ service_item.service_sketch }}{% endautoescape %}</label>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="right-small-block">
            <div class="float">
                <div class="white-box">
                    {% include 'common/contact.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}