{% extends 'base/base.html' %}
{% load staticfiles %}

<!--title-->
{% block title %}合作伙伴{% endblock %}

<!--position-->
{% block position %}
    <ul>
        <li><a href="/">首页</a></li>
        <li>
            <div class="position-split"></div>
        </li>
        <li><label>合作伙伴</label></li>
    </ul>
{% endblock %}

<!--content-->
{% block content %}
    <div class="container clearfix">
        <div class="left-large-block">
            <div class="white-box space">
                <div class="main-content-box">
                    <h4><label>合作伙伴&nbsp;|&nbsp;Partner</label></h4>
                    <div class="spacer-10px"></div>
                    <div><label>战略联盟与合作伙伴关系是东软业务持续发展的重要保证，东软始终致力于创造和谐共赢的生态环境，通过联盟与合作东软能够快速、可靠地构建满足客户业务发展需要的解决方案，东软不仅在营销、技术、运营管理、人力资源、财务等方面与全球知名的20余家公司有着良好的合作关系，同时也与政府和行业协会保持良好的合作关系。</label>
                    </div>
                </div>
                <div class="line"></div>
                <div class="spacer-10px"></div>
                <div class="main-content-box">
                    <div><h6>我们的合作伙伴</h6></div>
                    <div class="spacer-10px"></div>
                    <div>
                        {% for partner_item in partner_list %}
                            <div class="item-block-small">
                                <img src="{{ partner_item.logo.file }}" class="logo-img" alt="{{ partner_item.title }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="spacer-10px"></div>
                <div class="line"></div>
                <div class="spacer-10px"></div>
                <div class="main-content-box">
                    <div><h6>我们的用户</h6></div>
                    <div class="spacer-10px"></div>
                    <div>
                        {% for customer_item in customer_list %}
                            <div class="item-block-small">
                                <img src="{{ customer_item.logo.file }}" class="logo-img"
                                     alt="{{ customer_item.title }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="right-small-block">
            <div class="float">
                <div class="white-box">
                    {% include 'common/contact.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}