{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}搜索结果{% endblock %}

{% block position %}
    <ul>
        <li><a href="/">首页</a></li>
        <li><div class="position_split"></div></li>
        <li><label>搜索结果</label></li>
    </ul>
{% endblock %}

{% block content %}
 <div class="container clearfix">
    <div class="left-block">
        <div class="white-box space">
        <h3>关键词&nbsp;"{{ query }}"&nbsp;的搜索结果</h3>
        <p></p>
        {% if search_result == None %}
        <div style="text-align: center; padding: 50px;">
            <p>没有查到任何结果或您搜索的频率过快，请稍后再试。</p>
        </div>
        {% else %}
            {% for result_item in search_result %}
                <div class="">
                    <div style="width:50px; height:100%; float:left; _margin-right:-3px;">
                        <h3><label>{{ forloop.counter }}</label></h3>
                    </div>
                    <div style="height:100%;">
                        {% if result_item.type == 'solution' %}
                        <a href="/solution/{{ result_item.id }}">
                        {% elif result_item.type == 'product' %}
                        <a href="/product/{{ result_item.id }}">
                        {% endif %}
                            <div>
                                <h3>{{ result_item.title }}</h3>
                            </div>
                            <div style="max-height: 40px;padding-left: 50px;">
                                <p>{{ result_item.sketch }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                <p></p>
            {% endfor %}
        {% endif %}
        </div>
    </div>
    <div class="right-block">
        <div class="white-box">
            <label>您的搜索历史</label>
            <hr/>
            <p></p>
            {% for history_item in history_list %}
            <p>
                <a href="/search/?s={{ history_item }}">
                    <img src="{% static 'portal/img/search.png' %}" style="width: 12px;height: 12px;">
                    {% ifequal history_item '' %}
                    搜索
                    {% else %}
                    {{ history_item }}
                    {% endifequal %}
                </a>
            </p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}