{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}{{ solution_item.title }}{% endblock %}

<!--position-->
{% block position %}
    <ul>
        <li><a href="{% url 'portal.views.home' %}">首页</a></li>
        <li><div class="position-split"></div></li>
        <li><a href="{% url 'portal.views.solution' %}">解决方案</a></li>
        <li><div class="position-split"></div></li>
        <li><label>{{ solution_item.title }}</label></li>
    </ul>
{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static 'portal/js/tabcontrol.js' %}"></script>
<div class="container clearfix">
   <div class="left-large-block">
       <div class="white-box space">
           <div class="main-content-box">
               <h4><label>{{ solution_item.title }}</label></h4>
               <h5><label>{{ solution_item.subtitle }}</label></h5>
           </div>
           <div class="spacer-10px"></div>
           <div class="main-content-box">
               <p><label>{{ solution_item.sketch }}</label></p>
           </div>
           <div class="main-content-box">
                <section id="solution-details" role="main">
                    <ul class="tabs">
                        {% for solution_content in solution_content_list %}
                        <li><label><a id="tab-button-{{ forloop.counter }}" onclick="activeTab('{{ forloop.counter }}');" {% if forloop.first %}class="active"{% endif %}>{{ solution_content.title }}</a></label></li>
                        {% endfor %}
                        <li><label><a id="tab-button-relate" onclick="activeTab('relate')">相关信息</a></label></li>
                    </ul>
                    <div id="main">
                        <div class="panes">
                            {% for solution_content in solution_content_list %}
                            <div class="table-content" id="tab-content-{{ forloop.counter }}" style="{% if not forloop.first %}display: none{% endif %}">
                                {% autoescape off %}
                                {{ solution_content.content }}
                                {% endautoescape %}
                            </div>
                            {% endfor %}
                            <div class="table-content" id="tab-content-relate" style="display: none">
                                <div>
                                    {% if product_count > 0 %}
                                        <div><label><strong>相关产品</strong></label></div>
                                        {% for product_item in product_list %}
                                        <div class="item-block">
                                            <div class="image-block">
                                                <img src="{% static 'portal/img/product.png' %}" alt="{{ product_item.title }}">
                                            </div>
                                            <div class="content-block">
                                                <a href="{% url 'portal.views.product_detail' product_item.id%}">
                                                    <h5>{{ product_item.title }}</h5>
                                                    <label>{{ product_item.subtitle }}</label>
                                                </a>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="spacer-20px"></div>
                                    {% endif %}

                                    {% if partner_count > 0 %}
                                        <div><label><strong>合作伙伴</strong></label></div>
                                        {% for partner_item in partner_list %}
                                        <div class="item-block">
                                            <div class="image-block">
                                                <img src="{% static 'portal/img/partner.png' %}" >
                                            </div>
                                            <div class="content-block">
                                                <h5><label>{{ partner_item.title }}</label></h5>
                                                <label>{{ partner_item.website }}</label>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="spacer-20px"></div>
                                    {% endif %}
                                    {% if customer_count > 0 %}
                                        <div><label><strong>成功案例</strong></label></div>
                                        {% for customer_item in customer_list %}
                                        <div class="item-block">
                                            <div class="image-block">
                                                <img src="{% static 'portal/img/customer.png' %}" >
                                            </div>
                                            <div class="content-block">
                                                <h5><label>{{ customer_item.title }}</label></h5>
                                                <label>{{ customer_item.fullname }}</label>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
           </div>
       </div>
   </div>
   <div class="right-small-block">
       <div class="white-box">
           {% include 'common/contact.html' %}
       </div>
       <p></p>
       <div class="white-box">
           <div>
               <label>相关产品</label>
               <div class="line"></div>
               <p></p>
           </div>
           <div>
               {% for product_item in product_list %}
               <p>
                    <a href="/product/{{ product_item.id }}">{{ product_item.title }}</a>
               </p>
               {% endfor %}
           </div>
       </div>
   </div>
</div>
{% endblock %}