{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}{{ solution_item.title }}{% endblock %}

<!--position-->
{% block position %}
    <ul>
        <li><a href="{% url 'portal.views.home' %}">首页</a></li>
        <li><div class="position-split"></div></li>
        <li><a href="{% url 'portal.views.solution' %}">解决方案</a></li>
        <li><div class="position-split"></div></li>
        <li><label>{{ solution_item.title }}</label></li>
    </ul>
{% endblock %}

{% block content %}
<div class="container clearfix">
   <div class="left-large-block">
       <div class="white-box space">
           <div class="main-content-box">
               <h4><label>{{ solution_item.title }}</label></h4>
               <h5><label>{{ solution_item.subtitle }}</label></h5>
           </div>
           <div class="main-content-box">
               <p><label>{{ solution_item.sketch }}</label></p>
           </div>
           <div class="main-content-box">
                <section id="solution-details" role="main">
                    <ul class="tabs" role="navigation">
                        {% for solution_content in solution_content_list %}
                        <li><a>{{ solution_content.title }}</a></li>
                        {% endfor %}
                        <li><a>相关产品</a></li>
                    </ul>
                    <div id="main">
                        <div class="panes">
                            {% for solution_content in solution_content_list %}
                            <div class="table-content" id="tab{{ forloop.counter }}" style="{% if not forloop.first %}display: none{% endif %}">
                                {% autoescape off %}
                                {{ solution_content.content }}
                                {% endautoescape %}
                            </div>
                            {% endfor %}
                            <div class="table-content" id="tab-products" style="display: none">
                            {% for product_item in product_list %}
                                <div class="item-block">
                                    <a href="{% url 'portal.views.product_detail' product_item.id%}">
                                        <h5>{{ product_item.title }}</h5>
                                        <label>{{ product_item.subtitle }}</label>
                                    </a>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
           </div>
       </div>
   </div>
   <div class="right-small-block">
       <div class="white-box">
           {% include 'common/contact.html' %}
       </div>
       <p></p>
       <div class="white-box">
           <div>
               <label>相关产品</label>
               <div class="line"></div>
               <p></p>
           </div>
           <div>
               {% for product_item in product_list %}
               <p>
                    <a href="/product/{{ product_item.id }}">{{ product_item.title }}</a>
               </p>
               {% endfor %}
           </div>
       </div>
   </div>
</div>
<script
{% endblock %}