{% load staticfiles %}
<!DOCTYPE html>
<html>
<!--[if lt IE 7]>
<html class="no-js ie6 oldie" lang="en">
<![endif]-->
<!--[if IE 7]>
<html class="no-js ie7 oldie" lang="en">
<![endif]-->
<!--[if IE 8]>
<html class="no-js ie8 oldie" lang="en">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="{{ g_settings.description }}" />
        <meta name="keywords" content="{% if keyword == None or keyword == ''%}{{ g_settings.keyword }}{% else %}{{ keyword }}{% endif %}" />
        <meta name="author" content="Mervin" />
        <link rel="icon" type="image/png" href="{% static 'portal/img/favicon.png' %}" />
        <title>泰科泰格&nbsp;-&nbsp;{% block title %}{% endblock %}</title>
        <!--style sheets-->
        <link rel="stylesheet" media="screen" href="{% static 'portal/css/style.css' %}" />
        <link rel="stylesheet" media="screen" href="{% static 'portal/css/skeleton.css' %}" />
        <!--jquery libraries / others are at the bottom-->
        {% if debug == True %}
        <script src="{% static 'portal/js/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'portal/js/modernizr.js' %}" type="text/javascript"></script>
        <script src="{% static 'portal/js/jquery.flexslider-min.js' %}" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="{% static 'portal/css/flexslider.css' %}" />
        {% else %}
        <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
        <script src="http://cdn.bootcss.com/modernizr/2.8.2/modernizr.min.js" type="text/javascript"></script>
        <script src="http://cdn.bootcss.com/flexslider/2.2.2/jquery.flexslider-min.js" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="http://cdn.bootcss.com/flexslider/2.2.2/flexslider-min.css">
        {% endif %}
    </head>
    <body>
        <!--header-wrapper starts -->
        <div id="header-wrapper">
            <!--header starts-->
            <div id="header">
                {% include 'base/header.html' %}
            </div><!--header ends-->
            <!--hd-bottom-wrapper starts-->
            <div id="hd-bottom-wrapper">
                <div id="header-bottom" xmlns="http://www.w3.org/1999/html">
                    {% block position %}{% endblock %}
                    <p>
                        {% ifnotequal g_settings.call None %}
                        <span><img src="{% static 'portal/img/phone.png' %}" style="width: 12px;height: 12px;"></span>
                        <span>&nbsp;{{ g_settings.call }}</span>
                        {% endifnotequal %}
                        <span><label>&nbsp;&nbsp;&nbsp;</label></span>
                        {% ifnotequal g_settings.mail None %}
                        <span><img src="{% static 'portal/img/mail.png' %} " style="width: 12px;height: 12px;"/></span>
                        <span>&nbsp;<a href="mailto:{{ g_settings.mail }}">{{ g_settings.mail }}</a></span>
                        {% endifnotequal %}
                    </p>
                    <div class="clear"></div>
                </div><!--hdeaer-bottom end-->
            </div><!--hd-bottom-wrapper ends-->
            <div class="clear"></div>
        </div><!--header_wrapper ends -->
        <!--content-->
        <div id="content">
            <!--container clearfix-->
            <div class="container clearfix">
                {% block content %}{% endblock %}
            </div>
        </div><!--content end-->
        <!--copyright starts-->
        <div class="container clearfix">
            <div id="copyright" class="sixteen columns">
                {% include 'base/copyright.html' %}
            </div>
        </div><!--copyright ends-->
        <div class="clear"></div>
        <!--custom js-->
        <script src="{% static 'portal/js/custom.js' %}" type="text/javascript"></script>
        <script type="application/javascript">

        </script>
    </body>
</html>