{% load staticfiles %}
<div><label>Copyright&nbsp;&copy;&nbsp;{{ year }}&nbsp;泰科泰格&nbsp;&middot;&nbsp;<a
        href="http://www.beianbeian.com/beianxinxi/df16f6e7-8670-4d8a-94b1-ac71c8ee50ce.html" target="_blank">京ICP备09006237号-1</a>&nbsp;&middot;&nbsp;京公网安备11010102000402号&nbsp;&middot;&nbsp;<a
        href="/privacy">隐私声明</a>&nbsp;&middot;&nbsp;<a
        href="/term">使用条款</a></label></div>
<div class="spacer-5px"></div>
<div><label>Powered&nbsp;by&nbsp;<a href="http://www.python.org" target="_blank">Python</a>,&nbsp;<a
        href="https://www.djangoproject.com" target="_blank">Django</a>&nbsp;and&nbsp;<a href="https://mervinz.me"
                                                                                         target="_blank">Mervin</a>.</label>
</div>