{% load staticfiles %}
<div id="header-bottom" xmlns="http://www.w3.org/1999/html">
                    <!--
                    <ul>
                        <li>Connect :</li>
                        <li><a href="#"><img src="images/icons/twitter_small.png" alt="icon" /></a></li>
                        <li><a href="#"><img src="images/icons/pinterest_small.png" alt="icon" /></a></li>
                        <li><a href="#"><img src="images/icons/facebook_small.png" alt="icon" /></a></li>
                    </ul>
                    -->
    <p>
        <span><img src="{% static 'portal/img/phone.png' %} " style="width: 14px;height: 14px;"/></span>
        <span>&nbsp;(010)&nbsp;6711&nbsp;9616</span>
        <span>&nbsp;&nbsp;</span>
        <span><img src="{% static 'portal/img/mail.png' %} " style="width: 14px;height: 14px;"/></span>
        <span>&nbsp;<a href="mailto:gaozhanyi@titac.cn">gaozhanyi@titac.cn</a></span>
    </p>
    <div class="clear"></div>
</div><!--hdeaer-bottom end-->