{% load staticfiles %}
                <div class="container clearfix">
                    <!--logo starts-->
                    <div class="four columns logo">
                        <a href="/"><img src="{% static 'portal/img/logo.png' %}" style="height: 40px;"></a>
                    </div><!--logo ends-->
                    <!--menu starts-->
                    <div id="menu" class="twelve columns">
                        <ul>
                            <li><span>欢迎光临</span><a href="/" class="nav-home nav {% ifequal current 'home' %}selected{% endifequal %}">首页</a></li>
                            <li><span>遇到问题</span><a href="/solution" class="nav-services nav {% ifequal current 'solution' %}selected{% endifequal %}">解决方案</a></li>
                            <li><span>方案相关</span><a href="/product" class="nav-pricing nav {% ifequal current 'product' %}selected{% endifequal %}">产品</a></li>
                            <li><span>获得支持</span><a href="/service" class="nav-contact nav {% ifequal current 'service' %}selected{% endifequal %}">服务</a></li>
                            <li><span>获取资源</span><a href="/download" class="nav-pricing nav {% ifequal current 'download' %}selected{% endifequal %}">下载</a></li>
                            <!--
                            <li><span>寻求合作</span><a href="/partner" class="nav-contact nav {% ifequal current 'partner' %}selected{% endifequal %}">合作伙伴</a></li>
                            <li><span>加入我们</span><a href="/career" class="nav-contact nav {% ifequal current 'career' %}selected{% endifequal %}">工作机会</a></li>
                            -->
                            <li><span>关于我们</span><a href="/company" class="nav-contact nav {% ifequal current 'company' %}selected{% endifequal %}">公司</a></li>
                            <li>
                                <div>
                                    <input id="search" type="search"  style="width: 120px;" placeholder="搜索">
                                </div>
                            </li>
                        </ul>
                    </div><!--menu ends-->
                </div>
                <div class="clear"></div>