/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font: inherit;vertical-align: baseline;color: #6a6b6b;}
/* html5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/*general styles*/
body {background: #f6f6f6;font-family: "Microsoft YaHei","proxima-nova", "Arial", sans-serif;font-size: 12px;font-weight: 400;line-height: 1.5em;}
img, embed, object, video {max-width: 100%;height: auto;}
video {width: 100% !important;height: auto !important;}
strong {font-weight: bold;}
/*headings*/
h1, h2, h3, h4, h5, h6 {font-family: "Microsoft YaHei",'Helvetica Neue', Helvetica, Arial, sans-serif;color: #434343;font-weight: 600;line-height: 1.2em;font-style: normal;word-spacing: 1px;}
h1 {font-size: 24px;margin-bottom: 15px;}
h2 {font-size: 20px;margin-bottom: 10px;}
h3 {font-size: 16px;margin-bottom: 10px;}
h4 {font-size: 15px;margin-bottom: 10px;}
h5 {font-size: 14px;margin-bottom: 10px;}
/*links*/
a {color: #6e6e6e;text-decoration: none;cursor: pointer;font-style: normal;outline: none;}
a:hover {color: #df3a65;}
h1 a, h2 a, h3 a, h4 a, h5 a {color: #434343;}
a.link-style {color: #54c2e6;}
a.link-style:hover {text-decoration:underline;}
/*paragraph*/
p {padding-bottom: 10px;}
p.text-big {font-size: 20px;color: #231f20;line-height: 1.3em;}
/*image / Video Styles*/
.image-border {background: #ffffff;padding: 4px;border: 1px solid #e6e6e6;border-radius: 4px;}
.image-left {background: #ffffff;padding: 4px;margin-right: 10px;border: 1px solid #e6e6e6;border-radius: 4px;float: left;}
.image-right {background: #ffffff;padding: 4px;margin-left: 10px;border: 1px solid #e6e6e6;border-radius: 4px;float: right;}
.image-left img, .image-right img {float: left;}
.left-align {float: left;margin-right: 10px;}
.right-align {float: right;margin-left: 10px;}
.video-wrapper {background: #ffffff;padding: 4px;border: 1px solid #e6e6e6;border-radius: 4px;}
/*list styles*/
ul.list-bullet-blue li {background: url(/static/portal/img/bullet-circle-blue.png) no-repeat left 7px;padding: 0 0 10px 15px;margin-bottom: 10px;font-size: 14px;color: #54c2e6;border-bottom: 1px dotted #cccccc;list-style-type: none;}
ul.list-bullet li {background: url(/static/portal/img/bullet-circle.png) no-repeat 0 8px;padding-left: 15px;margin-bottom: 10px;font-size: 14px;list-style-type: none;}
/*dividers and spacers*/
.divider {background: #000000;width: 100px;height: 1px;margin: 15px auto;display: inline-block;}
.divider-dotted {width: 100%;margin: 25px auto;border-top: 1px dotted #cccccc;display: inline-block;}
.page-divider {background: url(/static/portal/img/page-divider.png) no-repeat center top;width: 940px;height: 99px;margin: 85px auto 0 auto;display: block;}
.spacer-30px {height: 30px;}
.spacer-25px {height: 25px;}
.spacer-20px {height: 20px;}
.spacer-15px {height: 15px;}
.spacer-10px {height: 10px;}
.spacer-5px {height: 5px;}
/*common divs*/
#content {width: 100%;padding-top: 115px;}
.content-page {padding-top: 165px;}
/*header*/
#header-wrapper {width: 100%;position: fixed;top: 0;z-index: 999;}
#header {background: #ffffff;width: 100%;padding: 15px 0 !important;}
/*logo*/
.logo #image {background: url(/static/portal/img/logo.png) no-repeat;background-size: 160px 40px;height: 40px;width: 160px;}
/*navigation*/
#menu {float: left;}
#menu ul {padding-top: 10px;z-index: 999;float: right;}
#menu ul li {margin: 0 5px;text-align: right;background: none;list-style-type: none;float: left;}
#menu ul li a {font-family: "Microsoft YaHei","proxima-nova", "Arial", sans-serif;font-size: 14px;color: #231f20;font-weight: 400;text-transform: uppercase;text-decoration:none;outline: none;}
#menu ul li a:hover {color: #df3a65 !important;}
#menu .selected {background: url(/static/portal/img/nav-arrow.png) repeat-x bottom right;padding-bottom: 10px;color: #df3a65 !important;}
#menu ul li span {font-family: "proxima-nova", "Arial", sans-serif;font-size: 12px;color: #a4a4a4;line-height: 1.2em;font-weight: 400;text-transform: none;display: block;}
#menu ul li span label {color: #a4a4a4;}
#menu select {display: none;cursor: pointer !important;outline: none;text-align:left;border:solid 1px #e6e6e6;padding: 5px;background:transparent;color: #6e6e6e;}
#menu select span {display: none !important;}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/*header_bottom*/
#hd-bottom-wrapper {background: url(/static/portal/img/header-top-shadow.png) repeat-x;width: 100%;}
#header-bottom {background: url(/static/portal/img/header-top-info-shadow.png) repeat-x top #ffffff;width: 920px;padding: 10px 10px 5px 10px;margin: 0 auto 0 auto;font-size: 11px;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.07);}
#header-bottom ul {float: left;}
#header-bottom ul li {margin-right: 5px;background: none;list-style-type: none;float: left;}
#header-bottom p {padding-bottom: 0;float: right;}
/*services section*/
.arrow-icon {float: right;margin: 20px 20px 0 10px;}
/*box*/
.box {background: #ffffff;padding: 19px;border: 1px solid #e6e6e6;border-radius: 4px;}
.table-th {background: #212121; /* for non-css3 browsers */width: 100%;padding: 15px 0;color:#ffffff;float:left;overflow:hidden;text-shadow: none;}
.table-th h4 {margin: 0 15px 0 20px;color: #ffffff;font-size: 18px;line-height: 1.8em;display: inline;float: left;}
.table-th span {font-size: 24px;color: #54c2e6;font-weight: 700;display: inline;line-height: 1em;}
.table-th em {font-size: 13px;vertical-align: text-top !important;font-style: normal;}
.table-content {padding-top: 20px;padding-bottom: 20px;}
.table-content p {padding-bottom: 10px;margin-bottom: 10px;}
.table-content span {color: #df3a65;}
p.table-slug {font-size: 11px;color: #e69954;padding: 0;margin-left: 20px;display: block;line-height: 1em;}
/*map*/
.map {background: #ffffff;width: 200px;height: 140px;padding: 4px;margin-left: 10px;border: 1px solid #e6e6e6;border-radius: 4px;display: inline-block;}
/*copyright*/
#copyright {border-top:1px solid #e6e6e6;padding-top: 20px;padding-bottom: 30px;margin-top: 20px;font-size: 11px;text-align: center;color: #6c6c6c;}
/*Search box*/
div .search_box {margin-left: 5px;background: url(/static/portal/img/search.png) no-repeat right;border-radius: 2px;}
div .search_box  #search_text{width: 120px;height: 16px;line-height: 16px;vertical-align: middle;font-size: 12px;outline: none;box-sizing: content-box;border: 1px solid #b6b6b6;border-radius: 2px;border-right: none;}
div .search_box  #search_submit{width: 18px;height: 16px;line-height: 16px;background: none;border: none;text-align: center;text-indent: -500px;}
/*head bottom bar images*/
div .position-split{width: 16px;height: 16px;background: url("/static/portal/img/right-arrow.png");}
div .left-large-block {width: 770px;float: left;margin-left: 10px;margin-top: 5px;margin-bottom: 5px;}
div .right-small-block {width: 160px;float: right;margin-right: 10px;margin-top: 5px;margin-bottom: 5px;}
div .right-small-block .float {position: fixed;width: 160px;}
div .left-small-block {width: 180px;float: left;margin-left: 10px;margin-top: 5px;margin-bottom: 5px;}
div .right-large-block {width: 750px;float: right;margin-right: 10px;margin-top: 5px;margin-bottom: 5px;}
div .hole-block {margin: 5px 10px 5px 10px;}
div .white-box {background: #ffffff;padding:10px;border: 1px solid #e6e6e6;border-radius: 4px;}
div .white-box .main-content-box {margin: 10px;}
div .gray-box {background: #eeeeee;padding:10px;border: 1px solid #e6e6e6;border-radius: 4px;}
/*item-block*/
div .item-block {width: 320px;display: inline-block;margin: 10px;padding: 5px 10px 5px 10px;border: 1px solid #e6e6e6;border-radius: 2px;}
div .item-block:hover {border: 1px solid #df3a65;}
div .item-block:hover strong {color: #df3a65;}
div .item-block:hover label {color: #df3a65;}
div .item-block h1,h2,h3,h4,h5,h6 {margin-bottom: 0px;}
div .item-block strong {color: #505050;}
div .item-block .image-block {float: left;width: 40px;}
div .item-block .content-block {margin-left: 50px;}
div .item-block-small {width: 120px;height: 30px;display: inline-block;margin: 10px;text-align: center;}
/*item-block-service*/
div .item-block-service {margin: 10px;border: 1px solid;padding: 5px 10px 5px 10px;border: 1px solid #e6e6e6;border-radius: 2px;}
div .item-block-service:hover {border: 1px solid #df3a65;}
div .item-block-service:hover strong {color: #df3a65;}
div .item-block-service:hover label {color: #df3a65;}
div .item-block-service:hover p {color: #df3a65;}
div .item-block-service strong {color: #505050;}
div .item-block-service p {padding: 0;}

div .space {min-height: 600px;}
div .line {margin-top: 5px;margin-bottom: 5px;height: 1px;border: none;background: #f6f6f6;}
div .left {float: left;display: inline-block;}
div .right {float: right;}
.logo-img {border: 1px solid #e6e6e6;vertical-align: middle;width: 90px;height: 30px;}
div .highlight-header {padding: 2px;padding-left:10px;background: #df3a65;width: 60px;border-radius: 2px;}
div .highlight-header .white-color-text {color: #ffffff;}
div .company-page-nav {width: 80px;float: left;padding: 5px;}
div .company-page-content {margin-left: 90px;border-left: 1px solid #f6f6f6;padding: 5px;min-height: 500px;}
div .error-page-message-area {text-align: center;margin-top: 30px;}