{% extends 'base/base.html' %}
{% load staticfiles %}
<!--title-->
{% block title %}{{ product_item.title }}{% endblock %}

<!--page style-->
{% block style %}
    <link rel="stylesheet" media="screen" href="{% static 'portal/css/rca.css' %}"/>
{% endblock %}

<!--page script-->
{% block script %}
    <script type="text/javascript" src="{% static 'portal/js/tab.js' %}"></script>
{% endblock %}

<!--position-->
{% block position %}
    <ul>
        <li><a href="/">首页</a></li>
        <li>
            <div class="position-split"></div>
        </li>
        <li><a href="/product">产品</a></li>
        <li>
            <div class="position-split"></div>
        </li>
        <li><label>{{ product_item.title }}</label></li>
    </ul>
{% endblock %}

<!--content-->
{% block content %}
    <div class="container clearfix">
        <div class="left-large-block">
            <div class="white-box space">
                <div class="main-content-box">
                    <h4><label>{{ product_item.title }}</label></h4>
                    <h5><label>{{ product_item.subtitle }}</label></h5>
                </div>
                <div class="spacer-10px"></div>
                <div class="main-content-box">
                    <div class="rich-content-area">
                        {% autoescape off %}{{ product_item.sketch }}{% endautoescape %}
                    </div>
                </div>
                <div class="main-content-box">
                    <section id="solution-details" role="main">
                        <ul class="tabs">
                            {% for product_content in product_content_list %}
                                <li><a id="tab-button-{{ forloop.counter }}"
                                       onclick="activeTab('{{ forloop.counter }}');"
                                       {% if forloop.first %}class="active"{% endif %}>{{ product_content.title }}</a>
                                </li>
                            {% endfor %}
                            <li><a id="tab-button-relate" onclick="activeTab('relate')">相关信息</a></li>
                        </ul>
                        <div id="main">
                            <div class="panes">
                                {% for product_content in product_content_list %}
                                    <div class="table-content" id="tab-content-{{ forloop.counter }}"
                                         style="{% if not forloop.first %}display: none{% endif %}">
                                        <div class="rich-content-area">
                                            {% autoescape off %}
                                                {{ product_content.content }}
                                            {% endautoescape %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="table-content" id="tab-content-relate" style="display: none">
                                    <div>
                                        {% if solution_count > 0 %}
                                            <div><label><strong>解决方案</strong></label></div>
                                            <div class="spacer-10px"></div>
                                            {% for solution_item in solution_list %}
                                                <a href="/solution/{{ solution_item.id }}">
                                                    <div class="item-block">
                                                        <label><strong>{{ solution_item.title }}</strong></label><br>
                                                        <label>{{ solution_item.subtitle }}</label>
                                                    </div>
                                                </a>
                                            {% endfor %}
                                            <div class="spacer-10px"></div>
                                            <div class="line"></div>
                                            <div class="spacer-20px"></div>
                                        {% endif %}

                                        {% if  product_item.partner %}
                                            <div><label><strong>合作伙伴</strong></label></div>
                                            <div class="spacer-10px"></div>
                                            <div class="item-block-small">
                                                <img src="{{ product_item.partner.logo.file }}" class="logo-img"
                                                     alt="{{ product_item.partner.title }}">
                                            </div>
                                            <div class="spacer-10px"></div>
                                            <div class="line"></div>
                                            <div class="spacer-20px"></div>
                                        {% endif %}

                                        {% if customer_count > 0 %}
                                            <div><label><strong>成功案例</strong></label></div>
                                            <div class="spacer-10px"></div>
                                            {% for customer_item in customer_list %}
                                                <div class="item-block-small">
                                                    <img src="{{ customer_item.logo.file }}" class="logo-img"
                                                         alt="{{ customer_item.title }}">
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="right-small-block">
            <div class="float">
                <div class="white-box">
                    {% include 'common/contact.html' %}
                </div>
                <div class="spacer-10px"></div>
                <div class="white-box">
                    <div>
                        <label>解决方案</label>
                        <div class="line"></div>
                        <div class="spacer-10px"></div>
                    </div>
                    <div style="max-height: 160px;overflow-y: auto;">
                        {% for solution_item in solution_list %}
                            <p>
                                <a href="/solution/{{ solution_item.id }}">{{ solution_item.title }}</a>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}