{% extends 'base/base.html' %}
{% load staticfiles %}

<!--title-->
{% block title %}所有产品{% endblock %}

<!--position-->
{% block position %}
    <ul>
        <li><a href="{% url 'portal.views.home' %}">首页</a></li>
        <li><div class="position-split"></div></li>
        <li><label>产品</label></li>
    </ul>
{% endblock %}

<!--content-->
{% block content %}
 <div class="container clearfix">
    <div class="left-large-block">
        <div class="white-box space">
            <div class="main-content-box">
                <h4><label>产品&nbsp;|&nbsp;Product</label></h4>
                <div class="spacer-10px"></div>
                <p><label>泰科泰格坚持研发创新与实际应用相结合，形成面向政府、公用事业、公共安全、金融、能源、制造等行业丰富的应用软件产品以及信息安全、平台工具、基础设施类产品。</label></p>
            </div>
            <div class="line"></div>
            <div class="spacer-10px"></div>
            {% for product_item in products %}
            <a href="/product/{{ product_item.product_id }}">
                <div class="item-block">                
                    <label><strong>{{ product_item.product_title }}</strong></label><br>
                    <label>{{ product_item.product_subtitle }}</label>                
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="right-small-block">
        <div class="float">
            <div class="white-box">
                {% include 'common/contact.html' %}
            </div>
        </div>
    </div>
 </div>
{% endblock %}