{% load staticfiles %}
<div>
    <label>联系我们</label>
    <div class="line"></div>
    <div class="spacer-10px"></div>
    <label>服务时间：</label><br>
</div>
<div style="padding-left: 15px;">
    <label>周一至周五</label><br>
    <label>上午&nbsp;9:00-12:00</label><br>
    <label>下午&nbsp;1:30-5:00</label><br>
    <label>(假日及法定假日除外)</label>
</div>
<div class="spacer-10px"></div>
<div>
    <label>联系电话：</label><br>
</div>
<div style="padding-left: 15px;">
    <label>{{ call_setting }}</label>
</div>
<div class="spacer-10px"></div>
<div>
    <label><a href="mailto:{{ mail_setting }}">Email至支持邮箱</a></label>
</div>
<div class="spacer-5px"></div>