{% extends 'base/base.html' %}

{% block title %}500{% endblock %}

{% block position %}
    <ul>
        <li><a href="/">首页</a></li>
        <li>
            <div class="position-split"></div>
        </li>
        <li>Http&nbsp;500</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container clearfix">
        <div class="left-large-block">
            <div class="white-box space">
                <div class="spacer-30px"></div>
                <div class="main-content-box">
                    <div style="text-align: center">
                        <h1><label>错误&nbsp;500.</label></h1>
                        <div><label>抱歉,&nbsp;出现内部服务错误!</label></div>
                        <div><label>INTERNAL SERVER ERROR,&nbsp;SORRY!</label></div>
                        <div class="spacer-10px"></div>
                        <div><a href="/">回到首页</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-small-block">
            <div class="float">
                <div class="white-box">
                    {% include 'common/contact.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}